<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lbsbackend.mapper.CategoryMapper">
    <insert id="addCategories">
        INSERT INTO CATEGORY
        (ID, LIBRARY_ID, PARENT_ID, NAME, CREATED_BY, CREATED_TIME)
        VALUES
        <foreach collection="categories" item="c" separator=",">
            (#{c.id},#{c.libraryId},#{c.parentId},#{c.name},#{c.createdBy},#{c.createdTime})
        </foreach>
    </insert>
    <delete id="deleteCategories">
        DELETE FROM CATEGORY
        WHERE ID IN
        (<foreach collection="categoryIds" item="cid" separator=",">#{cid}</foreach>)
    </delete>
    <select id="queryCategories" resultType="com.example.lbsbackend.entity.Category">
        SELECT
        ID AS id,
        LIBRARY_ID AS LibraryId,
        PARENT_ID AS parentId,
        NAME AS name,
        CREATED_BY AS createdBy,
        CREATED_TIME AS createdTime
        FROM CATEGORY
        <where>
            1=1
            <if test="libraryId!=null">
                AND LIBRARY_ID = #{libraryId}
            </if>
            <if test="parentId!=null and parentId!=''">
                AND PARENT_ID = #{libraryId}
            </if>
        </where>
        ORDER BY ID
    </select>

</mapper>